.heatmapSection {
  background-color: #0e2f44;
  padding: 1em 0;
}

.heatmapYAxis line, .heatmapYAxis path, .heatmapXAxis line, .heatmapXAxis path {
  stroke: #eaeaea;
}

.heatmapYAxis text, .heatmapXAxis text{
  fill: #eaeaea;
  font-size: 1.2em;
}
