
.pcaPlotSection {
  /* background-color: #d4ccca; */
  background-color: #eee;
  padding: 1em 0;
}

.screePlotSection {
  background-color: #0e2f44;
  padding: 1em 0;
}

.pcaBiplotSection {
  background-color: #EAE9D4;
  padding: 1em 0;
}
